<%= form_with(model: cohort, local: true) do |form| %>
  <% if cohort_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cohort.errors.count, "error") %> prohibited this Genius from being saved:</h2>

      <ul>
      <% cohort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cohort %>
    <%= form.number_field :cohort, id: :cohort %>

    <%= form.label :full_name %>
    <%= form.text_field :full_name, id: :genius_full_name %>

    <%= form.label :benchmark %>
    <%= form.text_field :benchmark, id: :benchmark %>

    <%= form.label :stipend %>
    <%= form.number_field :stipend, id: :genius_stipend %>

    <%= form.label :web_site %>
    <%= form.text_field :url, id: :genius_web_site %>

    <%= form.label :final_app %>
    <%= form.text_field :final_app, id: :genius_final_app %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= f.fields_for :genius do |ff| %>
  <div>
    <%= ff.label :city %>
    <%= ff.text_field :city %>
  </div>
<% end %>
<%= form_for(setup_cohort(cohort)) do |f| %>
<h2>Tasks</h2>
<%= f.fields_for :projects do |ff| %>
  <div>
    <%= ff.label :name %>
    <%= ff.text_field :name %>

    <% if ff.object.persisted? %>
      <%= ff.check_box :_destroy %>
      <%= ff.label :_destroy, "Destroy" %>
    <% end %>
  </div>
<% end %>
<%= f.fields_for :attendances do |ff| %>
  <div>
    <%= ff.check_box :_destroy,
          {:checked => ff.object.persisted?},
          '0', '1'
    %>
    <%= ff.label :_destroy, ff.object.interest.name %>
    <%= ff.hidden_field :interest_id %>
  </div>
<% end %>
