<%= form_with(model: @cohort, local: true) do |form| %>
  <% if @cohort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cohort.errors.count, "error") %> prohibited this Genius from being saved:</h2>

      <ul>
      <% cohort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= form.label :cohort %>
      <%= form.number_field :cohort, id: :cohort %>

      <%= form.label :city %><br />
      <%= form.text_field :city, id: :city %>

      <%= fields_for :users do |builder| %>
        <%= render "user_fields", :f => builder %>
      <% end %>
   </div>

     
