<%= form_with(model: :attendance_id, remote: true, format: :json, id: 'add_attendance') do |form| %>
      <% if attendance.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this record from being saved:</h2>

          <ul>
          <% attendance.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, id: :Genius_name, class: "form-control" %>
      </div>


      <div class="field">
        <%= form.label :city %>
        <%= form.select :office, [['Lagos', 'Lagos'], ['New York', 'New York',], ['Lisbon', 'Lisbon']], {}, { class: "form-control", id: "employee_office" } %>
      </div>

      <div class="field">
        <%= form.label :cohort_id %>
        <%= form.text_field :position, id: :cohort_id, class: "form-control" %>
      </div>


      <div class="actions">
        <%= form.submit 'Sumbit attendance', class: "btn btn-success" %>
      </div>
    <% end %>
