<% @users = User.all %>

<%= form_for(:attendances, url: '/admin/event/') do |f| %>
  <table>
  <%= @today %>
  <th>Genius</th><th>Present</th><th>Absent</th><th>halfday</th>
    <%- @users.each do |user| %>
      <tr>
        <td><%= f.label :class_date %><td>
           <input data-provide="datepicker">
        <td><%= user.first_name %></td>
        <td><%= check_box_tag "attendances[#{user.id}][present]" %></td>
        <td><%= check_box_tag "attendances[#{user.id}][absent]" %></td>
        <td><%= check_box_tag "attendances[#{user.id}][halfday]" %></td>
      </tr>
    <% end %>
  </table>

  <%= f.submit class: "btn btn-default link", id: "new-attendance-btn"%>
<% end %>
