<% @users = User.all %>
<div class='container-fluid'>
      <p id="notice"><%= notice %></p>
      <div class='row py-3 px-3'>
        <div class='col-12 col-sm-8'>
          <h3 class=''>Geniuses</h3>
          <table id='genius-table' class="table table-hover">
          <%= @today %>

            <thead  class="thead-light">
              <tr>
                <th>class_date<th>
                   <input data-provide="datepicker">
                <th>first_name</th>
                <th>present</th>
                <th>absent</th>
                <th>halfday</th>
              </tr>
            </thead>

            <tbody>
              <%- @users.each do |user| %>
                <tr>
                  <td><%= check_box_tag "attendances[#{user.id}][present]" %></td>
                  <td><%= check_box_tag "attendances[#{user.id}][present]" %></td>
                  <td><%= check_box_tag "attendances[#{user.id}][present]" %></td>
                  <td><%= link_to 'Show', user %></td>
                  <td><%= link_to 'Edit', edit_user_path(user) %></td>
                  <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <br>


      <div class='col-12 col-sm-4'>
      <h3>New Attendance</h3>
      <%= render 'form', attendances: @attendances %>

      <%= f.submit class: "btn btn-default link", id: "new-attendance-btn"%>
    </div>
  </div>
 </div>
</div>
