

<div class='row'>
  <div class='col-md-12'>
    <%= form_for @location do |f| %>
    <% @location.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
        <% end %>
      <div class='form-group'>
        <div class='control-label col-md-3'>
          <%= f.label :address %>
        </div>
        <div class='col-md-9'>
          <%= f.text_field :address %>
        </div>
      </div>

      <div class='form-group'>
        <div class='control-label col-md-3'>
          <%= f.label :latitude %>
        </div>
        <div class='col-md-9'>
          <%= f.number_field :latitude, class: 'form-control' %>
        </div>
      </div>

      <div class='form-group'>
        <div class='control-label col-md-3'>
          <%= f.label :longitude  %>
        </div>
        <div class='col-md-9'>
          <%= f.number_field :longitude, class: 'form-control'  %>
        </div>
      </div>
          <br />

      <div class='form-group'>
        <div class='col-md-offset-3 col-md-9'>
          <%= f.submit "Create Location", class: 'btn btn-success btn-lg' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
