<!DOCTYPE html>
<html>
<head>
  <title>HGP Apps</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



 <!-- Custom Fonts -->

       <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
       <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

   <!-- Custom Css -->
      <link href="//blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.min.css" rel="stylesheet">
   <!-- Maps -->

  </head>
   <body>

       <%= yield %>


      <%= render 'shared/header' %>

      <!-- <%= render 'shared/main' %>

      <%= render 'shared/footer' %> -->

    </body>
</html>
